@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
	margin: 0;
}

#container {
	width: 100vw;
	height: 100vh;
	background: pink;
	display: grid;
	align-items: center;
	justify-content: stretch;
	grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
	grid-template-rows: repeat( auto-fit, minmax(200px, 1fr) );
}

.link {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

#debt {
	background-image: url(/images/Slugpog.png);
}

#sus {
	background-image: url(/images/sus.png);
}

#logs {
	background-image: url(/images/logs.png);
}

#joke {
	background-image: url(/images/fireman.png);
}

#zorny {
	background-image: url(/images/zorny.png);
}

#aaeeoo {
	background-image: url(/images/aaeeoo.png);
}